{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "semi": true,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore"
}
